$def with(body)

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Web</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="text-center my-4">
            <h1>Agenda Web</h1>
        </header>
        <main>
            $:body
        </main>
        <footer class="text-center my-4">
            <p>&copy; 2024 Agenda Web</p>
        </footer>
    </div>
</body>
</html>